Repository lk16/flippy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-yaml
      - id: check-json
        exclude: "aaa-vscode-extension/.*"
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: local
    hooks:
      - id: mypy
        name: run mypy
        language: system
        entry: bash -c 'cd python/flippy && pdm run mypy --strict --enable-error-code possibly-undefined --warn-unreachable ./'
        types: [python]
        files: python/flippy/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: golangci-lint
        name: run golangci-lint
        language: system
        entry: golangci-lint run --fix ./cmd/... ./internal/...
        types: [go]
        pass_filenames: false

  - repo: local
    hooks:
      - id: cargo-check
        name: cargo check
        language: system
        entry: bash -c 'cd wasm && cargo check'
        pass_filenames: false
      - id: cargo-fmt
        name: cargo fmt
        language: system
        entry: bash -c 'cd wasm && cargo fmt'
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        language: system
        entry: bash -c 'cd wasm && cargo clippy --all-targets -- -Dwarnings'
        pass_filenames: false

highlight wrong moves during training
  python/flippy/src/flippy/mode/training.py
  python/flippy/src/flippy/window.py
Due: mypy

add comment
  python/flippy/src/flippy/mode/training.py
Due: mypy

limit training file to positions whose children are in db
  python/flippy/src/flippy/training/file.py
Due: mypy

do exercise again if user makes a mistake
  python/flippy/src/flippy/mode/training.py
Due: mypy

implement training again, using opening book and ratings
  python/flippy/pyproject.toml
  python/flippy/src/flippy/commands/gui.py
  python/flippy/src/flippy/commands/training.py
  python/flippy/src/flippy/mode/training.py
  python/flippy/src/flippy/training/file.py
  python/flippy/src/flippy/window.py
Due: mypy

add evaluation caching for training
  python/flippy/src/flippy/training/file.py
Due: mypy

refactor
  python/flippy/src/flippy/training/file.py
Due: mypy

initial raylib code: draw window with board
  cmd/gui/main.go
  go.mod
  go.sum
  internal/gui/window.go
  internal/models/board.go
Due: golangci-lint

add game mode
  internal/gui/modes/game.go
  internal/gui/modes/mode.go
  internal/gui/window.go
  internal/models/board.go
Due: golangci-lint

refactor models.Game
  cmd/gui/main.go
  cmd/load_pgn/main.go
  internal/gui/modes/game.go
  internal/gui/window.go
  internal/models/board.go
  internal/models/board_test.go
  internal/models/game.go
  internal/models/game_metadata.go
  internal/models/game_metadata_test.go
  internal/models/game_test.go
  internal/models/normalized_position_test.go
  internal/models/pgn_samples/flyordie_2025.pgn
  internal/models/position.go
Due: golangci-lint

fixup
  internal/models/game.go
  internal/models/game_test.go
Due: golangci-lint

wip: add evaluate mode
  internal/gui/modes/evaluate.go
  internal/gui/window.go
Due: golangci-lint

wip: draw 0 evaluations with default font
  internal/gui/modes/evaluate.go
  internal/gui/modes/mode.go
  internal/gui/window.go
Due: golangci-lint

add libs in ci config
  .github/workflows/workflow.yml
Due: none

show evaluations from book
  internal/gui/modes/evaluate.go
  internal/gui/modes/game.go
  internal/gui/modes/mode.go
  internal/gui/window.go
  internal/models/board.go
  internal/models/position.go
Due: golangci-lint

highlight best move in eval mode
  internal/gui/modes/evaluate.go
  internal/gui/modes/game.go
  internal/gui/modes/mode.go
  internal/gui/window.go
Due: golangci-lint

run edax one edax proc per move in eval mode
  cmd/compute_missing/main.go
  cmd/load_pgn/main.go
  internal/book/learn_client.go
  internal/edax/process.go
  internal/gui/modes/evaluate.go
  internal/models/api.go
  internal/repository/evaluation.go
Due: golangci-lint

improve searching at end of game
  internal/gui/modes/evaluate.go
  internal/models/board.go
  internal/models/position.go
Due: golangci-lint

cache grandchildren in eval mode
  internal/gui/modes/evaluate.go
Due: golangci-lint

fixup
  internal/gui/modes/evaluate.go
Due: golangci-lint

support edax table upsert by depth
  internal/repository/evaluation.go
Due: golangci-lint

add partial gui with go and raylib
  .github/workflows/workflow.yml
  .gitignore
  .golangci.yml
  cmd/compute_missing/main.go
  cmd/gui/main.go
  cmd/load_pgn/main.go
  cmd/show_board/main.go
  go.mod
  go.sum
  internal/book/learn_client.go
  internal/edax/manager.go
  internal/edax/parser.go
  internal/edax/parser_test.go
  internal/edax/process.go
  internal/edax/types.go
  internal/gui/controller.go
  internal/gui/draw.go
  internal/gui/evaluation.go
  internal/gui/types.go
  internal/models/api.go
  internal/models/board.go
  internal/models/board_test.go
  internal/models/cache.go
  internal/models/game.go
  internal/models/game_metadata.go
  internal/models/game_metadata_test.go
  internal/models/game_test.go
  internal/models/normalized_position_test.go
  internal/models/pgn_samples/flyordie_2025.pgn
  internal/models/position.go
  internal/repository/evaluation.go
Due: golangci-lint

add prompt.md
  prompt.md
Due: none

add REWRITE_PLAN.md
  REWRITE_PLAN.md
  prompt.md
Due: none

Phase 0: repo scaffold (go.mod, cmd entrypoints, docker-compose, migrate wiring, pre-commit, GitLab CI)
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Makefile
  REWRITE_PLAN.md
  cmd/loader/main.go
  cmd/server/main.go
  cmd/worker/main.go
  docker-compose.yml
  go.mod
  internal/.gitkeep
  migrations/.gitkeep
  static/.gitkeep
Due: golangci-lint

Phase 1: Othello core types (Board, NormalizedBoard, Game)
  .gitlab-ci.yml
  .pre-commit-config.yaml
  REWRITE_PLAN.md
  go.mod
  go.sum
  internal/.gitkeep
  internal/othello/bitboard.go
  internal/othello/board.go
  internal/othello/board_test.go
  internal/othello/color.go
  internal/othello/game.go
  internal/othello/game_test.go
  internal/othello/normalized_board.go
  internal/othello/normalized_board_test.go
Due: golangci-lint

Replace GitLab CI config with GitHub Actions
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: none

Phase 2: wtb, PGN, and Othello Quest game/file format loaders
  .gitignore
  REWRITE_PLAN.md
  internal/othello/color.go
  internal/othello/game.go
  internal/othello/game_test.go
  internal/othello/notation.go
  internal/othello/notation_test.go
  internal/othello/oq.go
  internal/othello/oq_test.go
  internal/othello/pgn.go
  internal/othello/pgn_metadata.go
  internal/othello/pgn_test.go
  internal/othello/testdata/pgn/flyordie_2025.pgn
  internal/othello/testdata/pgn/playok_normal.pgn
  internal/othello/testdata/pgn/playok_xot.pgn
  internal/othello/testdata/wtb/WTH_1977.wtb
  internal/othello/wtb.go
  internal/othello/wtb_test.go
Due: golangci-lint

Phase 3: precomputed set of 67245 12-disc NormalizedBoards
  REWRITE_PLAN.md
  internal/othello/board.go
  internal/othello/board_test.go
  internal/othello/gen/main.go
  internal/othello/gen/main_test.go
  internal/othello/precomputed_boards.go
  internal/othello/precomputed_boards_12discs.txt
  internal/othello/precomputed_boards_test.go
Due: golangci-lint

Phase 4: Postgres DB layer for boards
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  REWRITE_PLAN.md
  docker-compose.test.yml
  go.mod
  go.sum
  internal/db/pool.go
  internal/db/pool_test.go
  internal/db/repository.go
  internal/db/repository_test.go
  internal/othello/board.go
  internal/othello/board_test.go
  migrations/.gitkeep
  migrations/000001_create_boards_table.down.sql
  migrations/000001_create_boards_table.up.sql
  test.sh
Due: golangci-lint

Phase 5: edax integration (internal/edax)
  .env.sample
  REWRITE_PLAN.md
  internal/edax/evaluation.go
  internal/edax/parser.go
  internal/edax/parser_test.go
  internal/edax/problem.go
  internal/edax/problem_test.go
  internal/edax/process.go
  internal/edax/process_test.go
  internal/othello/notation.go
  internal/othello/notation_test.go
  internal/othello/oq.go
  internal/othello/pgn.go
Due: golangci-lint

Phase 6: API server (cmd/server, internal/api)
  .env.sample
  .github/workflows/ci.yml
  REWRITE_PLAN.md
  cmd/server/main.go
  docker-compose.test.yml
  docker-compose.yml
  go.mod
  go.sum
  internal/api/claims.go
  internal/api/claims_test.go
  internal/api/handlers.go
  internal/api/handlers_test.go
  internal/api/jobs.go
  internal/api/jobs_test.go
  internal/api/level.go
  internal/api/level_test.go
  internal/api/redis.go
  internal/api/redis_test.go
  internal/api/server.go
  internal/api/testing_test.go
  internal/api/types.go
  internal/db/repository.go
  internal/db/repository_test.go
  test.sh
Due: golangci-lint

Load .env for local dev config, in tests and all binaries
  cmd/loader/main.go
  cmd/server/main.go
  cmd/worker/main.go
  go.mod
  go.sum
  internal/env/env.go
  internal/env/env_test.go
  test.sh
Due: golangci-lint

Phase 7: startup minimax cache (internal/book)
  REWRITE_PLAN.md
  cmd/server/main.go
  internal/api/handlers.go
  internal/api/handlers_test.go
  internal/api/server.go
  internal/api/testing_test.go
  internal/api/types.go
  internal/book/cache.go
  internal/book/cache_test.go
  internal/book/minimax.go
  internal/book/minimax_test.go
  internal/db/repository.go
  internal/db/repository_test.go
Due: golangci-lint

Phase 8: worker (cmd/worker, internal/worker)
  .env.sample
  REWRITE_PLAN.md
  cmd/worker/main.go
  internal/worker/client.go
  internal/worker/client_test.go
  internal/worker/id.go
  internal/worker/id_test.go
  internal/worker/worker.go
  internal/worker/worker_test.go
Due: golangci-lint

Phase 9: frontend (internal/web, static/)
  REWRITE_PLAN.md
  cmd/server/main.go
  cmd/worker/main.go
  go.mod
  go.sum
  internal/api/claims.go
  internal/api/claims_test.go
  internal/api/handlers.go
  internal/api/handlers_test.go
  internal/api/server.go
  internal/api/types.go
  internal/api/websocket.go
  internal/api/websocket_test.go
  internal/web/server.go
  internal/web/server_test.go
  internal/web/templates/clients.html
  internal/web/templates/game.html
  internal/web/templates/layout.html
  internal/web/templates/stats.html
  internal/worker/client.go
  internal/worker/client_test.go
  internal/worker/worker.go
  static/base.css
  static/board.css
  static/board.js
  static/clients.css
  static/clients.js
  static/embed.go
  static/stats.css
  static/stats.js
Due: golangci-lint

Add local.sh for running the dev stack
  local.sh
Due: none

Add loader seed subcommand for the precomputed 12-disc board set
  cmd/loader/main.go
  internal/loader/seed.go
  internal/loader/seed_test.go
Due: golangci-lint
