Repository lk16/flippy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, golangci-lint, typescript-type-check, typescript-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-yaml
      - id: check-json
        exclude: "aaa-vscode-extension/.*"
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: local
    hooks:
      - id: mypy
        name: run mypy
        language: system
        entry: bash -c 'cd python/flippy && pdm run mypy --strict --enable-error-code possibly-undefined --warn-unreachable ./'
        types: [python]
        files: python/flippy/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: golangci-lint
        name: run golangci-lint
        language: system
        entry: golangci-lint run --fix ./cmd/... ./internal/...
        types: [go]
        pass_filenames: false

  - repo: local
    hooks:
      - id: typescript-type-check
        name: run typescript type check
        language: system
        entry: bash -c 'cd nuxtjs && npx tsc --noEmit'
        types_or: [ts, vue]

      - id: typescript-lint
        name: run typescript lint
        language: system
        entry: bash -c 'cd nuxtjs && npx eslint --fix --ignore-pattern ".nuxt/**/*"'
        types_or: [ts, vue]

      - id: typescript-format
        name: run typescript format
        language: system
        entry: bash -c 'cd nuxtjs && npx prettier --write .'
        pass_filenames: false

add command to add all missing positions to book up to certain level
  cmd/compute_missing/main.go
  internal/models/position.go
Due: golangci-lint

make js normalized position uppercase
  static/game.js
Due: none

simplify code to show evaluations
  static/game.js
Due: none

cache evaluations in Map
  static/game.js
Due: none

wip: do basic evaluation from js
  static/game.js
Due: none

make sure ring is same color even if grayish
  static/game.js
Due: none

wip
  static/game.js
Due: none

wip: wasm with rust
  .gitignore
  build_wasm.sh
  cmd/evaluate/main.go
  static/flippy_wasm.js
  static/game.html
  static/game.js
  static/wasm_exec.js
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/build.sh
  wasm/src/lib.rs
Due: golangci-lint

use golang webassembly for client side evaluation
  .gitignore
  build_wasm.sh
  cmd/evaluate/main.go
  internal/models/position.go
  internal/wasm/evaluate/evaluate.go
  static/game.html
  static/game.js
  static/wasm_exec.js
Due: golangci-lint

wip
  static/flippy_wasm.js
  wasm/src/lib.rs
Due: none

Improve frontend to show non-book evaluations
  static/game.js
Due: none

setup linters for rust code
  .github/workflows/workflow.yml
  .pre-commit-config.yaml
Due: none

use rust for wasm evaluation
  .gitignore
  build_wasm.sh
  cmd/evaluate/main.go
  internal/models/position.go
  internal/wasm/evaluate/evaluate.go
  static/flippy_wasm.js
  static/game.html
  static/game.js
  static/wasm_exec.js
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/build.sh
  wasm/src/bitset.rs
  wasm/src/bot.rs
  wasm/src/get_flipped.rs
  wasm/src/get_moves.rs
  wasm/src/lib.rs
  wasm/src/position.rs
  wasm/src/wasm.rs
Due: golangci-lint

show score in bright colors if exact
  static/game.js
Due: none

remove unused python function for target learn level
  python/flippy/src/flippy/book/__init__.py
Due: mypy

increase target learn levels
  internal/repository/evaluation.go
Due: golangci-lint

add separate wasm function for exact score
  static/flippy_wasm.js
  static/game.html
  static/game.js
  wasm/src/bot.rs
  wasm/src/lib.rs
Due: none

fix PROJECT_ROOT in python source
  python/flippy/src/flippy/__init__.py
  python/flippy/src/flippy/commands/recent_games.py
Due: mypy

add types Board and Game, with pgn parsing
  .golangci.yml
  internal/edax/manager.go
  internal/models/api_test.go
  internal/models/board.go
  internal/models/board_test.go
  internal/models/game.go
  internal/models/game_test.go
  internal/models/normalized_position_test.go
  internal/models/pgn_samples/flyordie.pgn
  internal/models/pgn_samples/playok_normal.pgn
  internal/models/pgn_samples/playok_xot.pgn
  internal/models/position.go
  internal/models/position_test.go
  internal/repository/evaluation.go
Due: golangci-lint

add load_pgn command
  cmd/load_pgn/main.go
Due: golangci-lint

wip
  cmd/load_pgn/main.go
Due: golangci-lint

support othello quest move string as flag for pgn mode
  python/flippy/src/flippy/arguments.py
  python/flippy/src/flippy/commands/gui.py
  python/flippy/src/flippy/mode/pgn.py
  python/flippy/src/flippy/othello/game.py
Due: mypy

add support for flipping board
  python/flippy/src/flippy/mode/pgn.py
Due: mypy

fix rust linter errors
  .pre-commit-config.yaml
  wasm/src/bitset.rs
  wasm/src/get_flipped.rs
  wasm/src/get_moves.rs
  wasm/src/lib.rs
  wasm/src/position.rs
Due: none

adding training mode back (squashed)
  python/flippy/src/flippy/commands/gui.py
  python/flippy/src/flippy/window.py
  src/flippy/mode/training/exercise.py
  src/flippy/mode/training/exercise_list.py
  src/flippy/mode/training/mode.py
  tests/training/test_exercise.py
  tests/training/test_exercise_list.py
Due: mypy

wip
  python/flippy/src/flippy/mode/training/exercise.py
  python/flippy/src/flippy/mode/training/loader.py
  python/flippy/src/flippy/mode/training/logs.py
  python/flippy/src/flippy/mode/training/mode.py
Due: mypy

wip: add add-game and show commands for training file
  python/flippy/pyproject.toml
  python/flippy/src/flippy/commands/training.py
  python/flippy/src/flippy/training/file.py
Due: mypy

wip: add training file class
  python/flippy/src/flippy/training/file.py
Due: mypy

support computing and listing exercises
  python/flippy/src/flippy/commands/training.py
  python/flippy/src/flippy/training/file.py
Due: mypy

add show_board command
  python/flippy/src/flippy/commands/training.py
Due: mypy

support loading multiple games in add-game command
  python/flippy/src/flippy/commands/training.py
Due: mypy

initial training mode gui
  python/flippy/src/flippy/commands/gui.py
  python/flippy/src/flippy/mode/training.py
  python/flippy/src/flippy/training/file.py
Due: mypy

make sure grandchildren are consistent during training
  python/flippy/src/flippy/mode/training.py
Due: mypy

wip
  python/flippy/src/flippy/mode/training.py
Due: mypy

save valid rotations in training file
  python/flippy/src/flippy/mode/training.py
  python/flippy/src/flippy/training/file.py
Due: mypy

wip
  python/flippy/src/flippy/training/file.py
Due: mypy

support multiple best moves in TrainingNode
  python/flippy/src/flippy/mode/training.py
  python/flippy/src/flippy/training/file.py
Due: mypy
